body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

img {
    display: block;
}

.breed-select {
    margin-bottom: 30px;
}

.cat-info {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.cat-info.is-hidden {
    display: none;
}

.breed-select.is-hidden {
    display: none;
}

.error.is-hidden {
    display: none;
}

/* LOADER */
.loader.is-hidden {
    display: none;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
        linear-gradient(#FFF 16px, transparent 0),
        linear-gradient(#FF3D00 16px, transparent 0),
        linear-gradient(#FF3D00 16px, transparent 0),
        linear-gradient(#FFF 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top, left bottom, right top, right bottom;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        width: 64px;
        height: 64px;
        transform: rotate(0deg)
    }

    50% {
        width: 30px;
        height: 30px;
        transform: rotate(180deg)
    }

    100% {
        width: 64px;
        height: 64px;
        transform: rotate(360deg)
    }
}